:root {
  --body-background: #1e1e2e;
  --note-background: #1a1b27;
  --background: #282936;

  --title-color: #979ac2;
  --text-color: #fff;

  --custom-color-1: #ea51b2;
  --custom-color-2: #00f769;
  --custom-color-3: #ebff87;
  --custom-color-4: #62d6e8;
  --custom-color-5: #b45bcf;
  --custom-color-6: #a1efe4;
  --custom-color-7: #e9e9f4;

  --font-family: "Monaspace-Radon", monospace, sans-serif;
  --font-size: 18px;
  --container-width: 120ch;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  max-width: var(--container-width);
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-inline: auto;
  background: var(--body-background);
}

textarea {
  border-width: 1px;
  border-radius: 0.3rem;
  padding: 1rem;
  width: 100%;
  margin-block-start: 1rem;
  font-size: 1.1rem;
  background: var(--note-background);
  color: var(--text-color);
}

textarea::placeholder {
  filter: opacity(0.6);
  color: var(--text-color);
}

#container {
  display: flex;
  border: 1px solid gray;
  border-radius: 0.3rem;
  justify-content: center;
  grid-gap: 2rem;
  background: var(--note-background);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-color);
}

a {
  text-decoration: none;
  color: #c5c8c6;
}
a:hover {
  color: var(--text-color);
  font-weight: bold;
  /*   text-decoration: underline; */
}

ul {
  list-style: none;
  padding: 0;
}

.column:nth-of-type(1) .folder-name {
  color: var(--custom-color-1);
}
.column:nth-of-type(2) .folder-name {
  color: var(--custom-color-2);
}
.column:nth-of-type(3) .folder-name {
  color: var(--custom-color-3);
}
.column:nth-of-type(4) .folder-name {
  color: var(--custom-color-4);
}
.column:nth-of-type(5) .folder-name {
  color: var(--custom-color-5);
}
.column:nth-of-type(6) .folder-name {
  color: var(--custom-color-6);
}
.column:nth-of-type(7) .folder-name {
  color: var(--custom-color-7);
}

footer {
  text-align: right;
  margin-block-start: 1rem;
}
